<header class="site-header">

  <div class="wrapper">

    <a class="site-title" href="http://eternalblueflame.gitlab.io/ebf">{{ site.title }}</a>

    <nav class="site-nav">
      <a href="{{ page.url | prepend: "#" }}" class="menu-icon">
      <span class="icon icon--gitlab">{% include icon-menu.svg %}</span>
    </a>
      <div class="trigger hidden-menu">
        {% for my_page in site.pages %}
          {% if my_page.title %}
          <a class="page-link" href="{{ my_page.url | prepend: site.url }}">{{ my_page.title }}</a>
          {% endif %}
        {% endfor %}
      </div>
    </nav>

  </div>

  <script>
      $('#site-nav').click(function() {
        $('#trigger').toggleClass('hidden-menu');  
    });
  </script>
</header>
